<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
        
        <title>Burger App</title>
    </head>
    <body>
        {{{ body }}}
        	<script src="https://code.jquery.com/jquery.js"></script>
        	<script src="/assets/js/burgers.js"></script>
    </body>
</html>