<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link rel="icon" href="/assets/images/burgerIcon.png">
    <title>Burger App</title>
</head>

<body>
    {{{ body }}}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgers.js"></script>
    <footer>
        <p>Burger Images by Twitter</p>
    </footer>
</body>

</html>