<!DOCTYPE html>
<html>
    <head>
        <title>Burger App</title>
    </head>
    <body>
        {{{ body }}}
        	<script src="https://code.jquery.com/jquery.js"></script>
        	<script src="/assets/js/burgers.js"></script>
    </body>
</html>